<app-mobile-header *ngIf="this.core.isMobile" [leading]="'Cart'" [leadingIcon]="'arrowLeft'" [title]="'Checkout'"
    [trailing]="'Help'" (interaction)="interact($event)"></app-mobile-header>
<div class="promo-bar">Bayar dengan cicilan 0% sampai 12 bulan</div>

<div class="main-body" *ngIf="!isLoading">
    <!-- if Device is Desktop or Tablet-->
    <section class="main-page medium-grey-bg padding-center fullheight" *ngIf="core.isDesktop || core.isTablet">
        <div class="row">
            <div class="medium-12 columns">
                <div class="label-text large">
                    <div class="flex-container horizontal justify-space-between align-end">
                        <div class="flex-item">
                            <div class="small-text">1. Delivery Information <fa-icon [icon]="icon"></fa-icon> 2. Payment
                                Method</div>
                            <div class="title">
                                Secure Checkout
                            </div>

                        </div>
                        <div class="flex-item small-text">
                            <div class="small-text">Butuh bantuan? Hub O21 - 2222 7825 | <a
                                    (click)="openLiveChat()">Live Chat</a> </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- left -->
            <div class="medium-7 columns">

                <div class="account-login callout padding-center radius light-grey-bg margin-bottom-1">
                    <app-account [quote]="quote"></app-account>
                </div>

                <div class="usp hide callout padding-center rounded white-bg margin-bottom-1">
                    <div class="flex-container horizontal justify-space-between">
                        <div class="flex-item flex-05">
                            <div class="title">
                                <img height="75" widdth="75" src="https://wia.id/media/icon%20packing-02.svg" alt="">
                            </div>
                        </div>
                        <div class="flex-item flex-3">
                            <div class="title">
                                100% Return Warranty
                            </div>
                            <div class="subtitle">
                                Jaminan penukaran kembali jika barang yang diterima tidak sesuai, cacat produksi, tidak
                                original atau salah ukuran.
                            </div>
                        </div>
                    </div>

                </div>

                <div class="usp callout padding-center rounded white-bg margin-bottom-1">
                        <div class="flex-container horizontal justify-space-between">
                                <div class="flex-item flex-05 margin-right-05">
                                    <div class="title">
                                        <img height="75" widdth="75" src="https://www.burton.com/static/content/2020/banners/winter/feature/Gift-Guide-Badge.png" alt="">
                                    </div>
                                </div>
                                <div class="flex-item flex-3">
                                    <div class="title">
                                        Send as a gift!
                                    </div>
                                    <div class="subtitle">
                                            Kamu bisa mengirim pesanan dalam bentuk kado. Pilih metode pengiriman <b>send as a gift</b>
                                        </div>
                                </div>
                            </div>

                </div>


                <div class="shipping-address callout padding-center radius white-bg margin-bottom-1">
                    <div class="label-text small">
                        <div class="flex-container horizontal justify-space-between">
                            <div class="flex-item">
                                <div class="title">
                                    Shipping Address
                                </div>
                            </div>
                        </div>
                    </div>

                    <app-shipping-address
                    [quote]="quote"
                    (isStatisfied)="isShippingAddressValidListener($event)">
                    </app-shipping-address>
                </div>

                <div class="send-as-gift callout padding-center radius white-bg margin-bottom-1"
                    *ngIf="isShippingAddressValid">
                    <app-send-as-gift (sendAsGiftDataListener)="sendAsGiftDataListener($event)"></app-send-as-gift>
                </div>


                <div class="shipping-method callout padding-center radius white-bg margin-bottom-1">
                    <div class="label-text small">
                        <div class="flex-container horizontal justify-space-between">
                            <div class="flex-item">
                                <div class="title">
                                    Shipping Method
                                </div>
                            </div>
                        </div>
                    </div>

                    <app-shipping-method
                    [quote]="quote"
                    [resetShippingMethod]="isShippingMethodValid"
                    [isShippingAddressValid]="isShippingAddressValid"
                    (isStatisfied)="isShippingMethodValidListener($event)"></app-shipping-method>
                </div>

                <div class="text-center">
                    <div *ngIf="!isProcessingOrder">
                        <button type="button" class="primary button expanded rounded" *ngIf="isShippingAddressValid && isShippingMethodValid && (
                                (wantsToSendAsGift && isSendAsGiftValid) ||
                                !wantsToSendAsGift); else notReady" (click)="createOrder()">
                            <fa-icon [icon]="icon_lock"></fa-icon> Lanjut ke Pembayaran
                        </button>

                        <ng-template #notReady>
                            <button type="button" class="primary button expanded rounded" disabled>
                                <fa-icon [icon]="icon_lock"></fa-icon> Lanjut ke Pembayaran
                            </button>
                        </ng-template>

                    </div>
                    <button type="button" class="secondary button expanded rounded" disabled *ngIf="isProcessingOrder">Please
                        Wait...</button>
                    <p class="small-text">
                        <fa-icon [icon]="icon_lock"></fa-icon> Dengan melakukan pemesanan, Anda menyetujui syarat dan
                        ketentuan yang berlaku
                    </p>
                </div>
            </div>

            <!-- right -->
            <div class="medium-5 columns">
                <div class="callout padding-center white-bg">

                    <div class="label-text small">
                        <div class="flex-container horizontal justify-space-between">
                            <div class="flex-item">
                                <div class="title">
                                    Order Summary
                                </div>

                            </div>
                            <div class="flex-item">
                                <a class="action" [routerLink]="['/','cart']">Edit Cart</a>
                            </div>

                        </div>
                    </div>

                    <app-summary-desktop [quote]="quote"></app-summary-desktop>
                </div>

                <div class="light-grey-bg">
                    <div class="label-text padding-center small">
                        <div class="flex-container horizontal ">
                            <div class="flex-item">
                                <div class="title">
                                    We Accept
                                </div>
                            </div>
                        </div>
                        <div class="flex-container horizontal margin-bottom-05">
                            <div class="flex-item flex-1 text-center">
                                <div class="partner-logo">
                                    <img height="35" width="58" src="https://wia.id/media/logo/visa-01.svg" alt="">
                                </div>
                            </div>
                            <div class="flex-item flex-1 text-center">
                                <div class="partner-logo">
                                    <img height="35" width="58" src="https://wia.id/media/logo/mastercard-01.svg"
                                        alt="">
                                </div>
                            </div>
                            <div class="flex-item flex-1 text-center">
                                <div class="partner-logo">
                                    <img height="35" width="58" src="https://wia.id/media/logo/jcb-01.svg" alt="">
                                </div>
                            </div>
                            <div class="flex-item flex-1 text-center">
                                <div class="partner-logo">
                                    <img height="35" width="58" src="https://wia.id/media/logo/alto-01.svg" alt="">
                                </div>
                            </div>
                            <div class="flex-item flex-1 text-center">
                                <div class="partner-logo">
                                    <img height="35" width="58" src="https://wia.id/media/logo/bersama-2-01.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <p class="small-text text-center">Keamanan pembayaran didukung oleh Midtrans
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-- if Device is mobile-->
    <section class="main-page medium-grey-bg" *ngIf="core.isMobile">

            <div class="list-tile padding-center rounded white-bg margin-bottom-1 elevate">
                    <div class="flex-container horizontal justify-space-between">
                        <div class="flex-item flex-05 margin-right-05">
                            <div class="title">
                                <img height="75" width="75" src="https://www.burton.com/static/content/2020/banners/winter/feature/Gift-Guide-Badge.png" alt="">
                            </div>
                        </div>
                        <div class="flex-item flex-3">
                            <div class="title">
                                Send as a gift!
                            </div>
                            <div class="subtitle">
                                Kamu bisa mengirim pesanan dalam bentuk kado. Pilih metode pengiriman <b>send as a gift</b>
                            </div>
                        </div>
                    </div>

                </div>

        <div class="list-tile hide padding-center light-grey-bg margin-bottom-1">
            <app-account [quote]="quote"></app-account>
        </div>

        <div class="label-text padding-center small">
            <div class="flex-container horizontal ">
                <div class="flex-item flex-1">
                    <div class="title">
                        Shipping Address
                    </div>
                </div>
            </div>
        </div>

        <div class="list-tile padding-center white-bg">
            <app-shipping-address
            [quote]="quote"
            (isStatisfied)="isShippingAddressValidListener($event)"></app-shipping-address>
        </div>

        <div class="list-tile padding-center light-grey-bg margin-bottom-2 elevate" *ngIf="isShippingAddressValid">
            <app-send-as-gift (sendAsGiftDataListener)="sendAsGiftDataListener($event)"></app-send-as-gift>
        </div>


        <div class="label-text padding-center small">
            <div class="flex-container horizontal ">
                <div class="flex-item flex-1">
                    <div class="title">
                        Shipping Method
                    </div>
                </div>
            </div>
        </div>

        <div class="list-tile padding-center white-bg margin-bottom-05 elevate">
            <app-shipping-method
            [quote]="quote"
            (isStatisfied)="isShippingMethodValidListener($event)"
            [isShippingAddressValid]="isShippingAddressValid"
            [resetShippingMethod]="isShippingMethodValid">
            </app-shipping-method>
        </div>

        <app-promo-mobile
        [quote]="quote"
        ></app-promo-mobile
            >

        <div class="label-text padding-center small">
            <div class="flex-container horizontal ">
                <div class="flex-item flex-1">
                    <div class="title">
                        Order Summary
                    </div>
                </div>
            </div>
        </div>

        <div class="list-tile padding-center white-bg">
            <app-summary-mobile [quote]="quote"></app-summary-mobile>
        </div>
        <div class="list-tile padding-center white-bg text-center">

            <div *ngIf="!isProcessingOrder">
                <button type="button" class="primary button expanded rounded" *ngIf="isShippingAddressValid && isShippingMethodValid && (
                        (wantsToSendAsGift && isSendAsGiftValid) ||
                        !wantsToSendAsGift); else notReady" (click)="createOrder()">
                    <fa-icon [icon]="icon_lock"></fa-icon> Lanjut ke Pembayaran
                </button>

                <ng-template #notReady>
                    <button type="button" class="primary button expanded rounded" disabled>
                        <fa-icon [icon]="icon_lock"></fa-icon> Lanjut ke Pembayaran
                    </button>
                </ng-template>

            </div>

            <button type="button" class="secondary button expanded rounded" disabled *ngIf="isProcessingOrder">Please
                Wait...</button>


            <p class="small-text">Dengan melakukan pemesanan, anda menyetujui syarat dan ketentuan yang berlaku</p>
        </div>

        <div class="light-grey-bg">
            <div class="label-text padding-center small">
                <div class="flex-container horizontal ">
                    <div class="flex-item">
                        <div class="title">
                            We Accept
                        </div>
                    </div>
                </div>
                <div class="flex-container horizontal margin-bottom-05">
                    <div class="flex-item flex-1 text-center">
                        <div class="partner-logo">
                            <img height="35" width="58" src="https://wia.id/media/logo/visa-01.svg" alt="">
                        </div>
                    </div>
                    <div class="flex-item flex-1 text-center">
                        <div class="partner-logo">
                            <img height="35" width="58" src="https://wia.id/media/logo/mastercard-01.svg" alt="">
                        </div>
                    </div>
                    <div class="flex-item flex-1 text-center">
                        <div class="partner-logo">
                            <img height="35" width="58" src="https://wia.id/media/logo/jcb-01.svg" alt="">
                        </div>
                    </div>
                    <div class="flex-item flex-1 text-center">
                        <div class="partner-logo">
                            <img height="35" width="58" src="https://wia.id/media/logo/alto-01.svg" alt="">
                        </div>
                    </div>
                    <div class="flex-item flex-1 text-center">
                        <div class="partner-logo">
                            <img height="35" width="58" src="https://wia.id/media/logo/bersama-2-01.svg" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>

<div class="padding-center fullheight medium-grey-bg" *ngIf="isLoading">
    <section class="main-page medium-grey-bg padding-center fullheight">
        <div class="row small-collapse medium-uncollapse" *ngIf="isLoading">
                <div class="column small-12  medium-6 medium-centered">
                    <div class="callout padding-center white-bg">
                        <div class="title">Please wait....</div>
                    </div>
                </div>
            </div>
    </section>
</div>