<h1>{{data.description}}</h1>
<br>
<h4>Terms and Condition</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ultrices consectetur ligula at pellentesque. Pellentesque eu elementum ante, vestibulum feugiat urna. Quisque gravida magna eu lacus dictum, a suscipit turpis sodales. Quisque arcu tellus, vestibulum a accumsan in, luctus vitae erat. Aenean ultrices interdum sapien mollis molestie. In facilisis sollicitudin semper. In porta hendrerit sapien. Aliquam ipsum nisi, ultrices ac mollis consequat, eleifend non diam. Sed aliquet ut nulla mattis egestas. Suspendisse potenti. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque nisl libero, malesuada ac mollis vitae, maximus quis dui. Nunc quis tempus tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at ligula ut nisi venenatis tempus in nec neque.
Proin in eleifend sapien. Curabitur blandit scelerisque turpis, in vulputate leo aliquam at. Maecenas finibus hendrerit sem sed porttitor. Fusce sed malesuada felis. Proin sit amet massa at neque ultricies tempor. Cras et nunc ex. Integer nec lorem at tortor maximus lobortis. Aliquam facilisis massa semper velit placerat, gravida commodo mauris auctor. Aliquam erat volutpat. Nullam non eros nisi.</p>
<br>
<button class="button secondary radius expanded" (click)="closeDialog()">BACK</button>
<button class="button primary radius expanded" (click)="useThisPromo()">USE THIS PROMO</button>