<div class="list-tile" (click)="openSummaryDetails()">
    <div class="flex-container align-center">
        <div class="flex-item flex-2 title">
            <div class="title">Total</div>
            <div class="subtitle">{{cart == null ? '...' : getTotalItems()}} item(s) in your cart</div>
        </div>
        <div class="flex-item flex-2 text-right">
            <div class="title">
                    {{calc.total | currency:'IDR':'Rp'}}
                    <fa-icon [icon]="chevronDown"></fa-icon>
            </div>
           
        </div>
    </div>
</div>