<app-mobile-header [title]="'Select Promo'" [trailing]="'Close'" (interaction)="interact($event)"></app-mobile-header>

<!-- voucher input-->
<div class="list-tile padding-center light-grey-bg">
    <div class="flex-container align-center">
        <div class="flex-item flex-3 margin-right-05">

            <mat-form-field>
                <input matInput name="voucher" [(ngModel)]="selectedVoucher" placeholder="Voucher code" />
            </mat-form-field>

        </div>
        <div class="flex-item flex-05 text-right padding-0">
            <span class="small-text" (click)="applyPromo()" *ngIf="selectedVoucher.length > 0; else disabledButton">
                Apply
            </span>
            <ng-template #disabledButton>
                <span class="small-text" disabled>
                    Apply
                </span>
            </ng-template>
        </div>
    </div>
</div>

<div class="medium-grey-bg fullheigt">
    <div class="label-text small padding-center">
        <div class="title">Available Promo Code</div>
    </div>

    <div class="group-list callout white-bg padding-center">


        <div class="list-tile white-bg border-bottom" *ngFor="let item of vouchers; let i = index">
            <div class="flex-container align-center">
                <div class="flex-item flex-2">
                    <div class="title">
                        {{item.description}}
                    </div>
                    <div class="subtitle">
                        CODE: {{item.code}}
                    </div>
                </div>
                <div class="flex-item flex-05 text-right hide">
                    <div class="icon primary-color">
                        View
                    </div>
                </div>
                <div class="flex-item flex-05 text-right" (click)="copyVoucher(item.code)">
                    <div class="icon primary-color">
                        Apply
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
