.promo-input{
    background-color: #FAFAFA;
    border-radius: 6px;
    border: 2px solid #EEEEEE;
    padding: 1vh;
}

.promo-card{
    border-radius: 6px;
    border: 2px solid #EEEEEE;
    padding: 24px;
    margin-bottom: 6px;
}