<app-mobile-header
[title]="'Edit Address'"
[trailing]="'Close'"
(interaction)="interact($event)"
></app-mobile-header>

<div class="medium-grey-bg">
    <div class="form-container">
        <form [formGroup]="editFormCtrl" class="flex-item flex-4">
            <mat-form-field>
                <mat-label>Alamat</mat-label>
                <input matInput formControlName="street" placeholder="e.g. Jalan Scientia Square Utara"/>
                <mat-error *ngIf="editFormCtrl.get('street').invalid">This field is required</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Nama Gedung / Apartemen (opsional)</mat-label>
                <input matInput formControlName="location" placeholder="e.g. Ruko Dalton Utara No.50"/>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Kode Pos </mat-label>
                <input matInput formControlName="postcode" placeholder="e.g. 15810"/>
            </mat-form-field>
            <mat-label *ngIf="regions.length == 0">Loading province(s)... </mat-label>
            <mat-form-field *ngIf="regions.length > 0">
                <mat-label>Provinsi </mat-label>
                <mat-select [(ngModel)]="selectedRegion" formControlName="region" placeholder="e.g. Banten" (ngModelChange)="updateCity()">
                    <mat-option *ngFor="let region of regions" [value]="region">
                        {{region.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="editFormCtrl.get('region').invalid">This field is required</mat-error>
            </mat-form-field>

            <mat-label *ngIf="selectedRegion != null && cities.length == 0">Loading cities... </mat-label>
            <mat-form-field *ngIf="cities.length > 0">
                <mat-label>Kota </mat-label>
                <mat-select [(ngModel)]="selectedCity" formControlName="city" placeholder="e.g. Kabupaten Tangerang">
                    <mat-option *ngFor="let city of cities" [value]="city">
                        {{city.display_name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="editFormCtrl.get('city').invalid">This field is required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Phone </mat-label>
                <input matInput formControlName="telephone" placeholder="e.g. 021-2227825"/>
                <mat-error *ngIf="editFormCtrl.get('telephone').invalid">This field is required</mat-error>
            </mat-form-field>
            
            <div class="pinpoint-container outline row">
                <div class="columns small-8 medium-10 large-10">
                    {{ editFormCtrl.value['lat'] != null &&  editFormCtrl.value['lon'] != null ? 'Pinpoint Selected' : ''}}
                </div>
                <div class="columns small-4 medium-2 large-2">
                    <button class="button tiny hollow secondary rounded" (click)="openPinpointDialog()">Add Pinpoint</button>
                </div>
            </div>
            <mat-error *ngIf="editFormCtrl.get('lat').invalid && editFormCtrl.get('lon').invalid">Please add your drop point</mat-error>
            <br>
            
            <div *ngIf="!isProcessing">
                <button class="button primary expanded" (click)="onSubmit()">Change Address</button>
            </div>
            <button *ngIf="isProcessing" class="button secondary hollow expanded">Processing...</button>
        </form>
    </div>
</div>
