<div class="navigation-mobile-top white-bg">
    <div class="flex-container align-center">
        
        <div class="flex-item flex-1 text-left" (click)="interaction.emit('leading')">
            <div class="icon">
                <fa-icon *ngIf="faLeading" [icon]="faLeading"></fa-icon>
                {{leading == null ? ' ' : leading}}
            </div>
        </div>

        <div class="flex-item flex-2 text-center" (click)="interaction.emit('title')">
            <div class="title">
                <fa-icon *ngIf="faTitle" [icon]="faTitle"></fa-icon>
                {{title == null ? ' ' : title}}
            </div>
        </div>

        <div class="flex-item flex-1 text-right" (click)="interaction.emit('trailing')">
            <div class="icon">
                <fa-icon *ngIf="faTrailing" [icon]="faTrailing"></fa-icon>
                {{trailing == null ? ' ' : trailing}}
            </div>
        </div>
    </div>
</div>