<div class="flex-container margin-bottom-1" 
*ngIf="isShippingAddressValid"
(click)="openSelectShippingMethod()">
        <div class="flex-item flex-4" *ngIf="selectedShippingMethod != null; else notSelectingShippingMethod">
                <div class="title">{{selectedShippingMethod.method_title}}</div>
                <div class="subtitle">{{selectedShippingMethod.method_description}}</div>
        </div>

        <ng-template #notSelectingShippingMethod>
                <div class="flex-item flex-4">
                        <div class="subtitle">Silahkan pilih metode pengiriman</div>
                </div>
        </ng-template>

        <div class="flex-item flex-1 text-right" *ngIf="core.isTablet || core.isDesktop">
                <span class="button rounded tiny secondary">Change</span>
        </div>

        <div class="flex-item flex-1 text-right" *ngIf="core.isMobile">
                <span class="primary-color">
                        <fa-icon [icon]="chevronRight"></fa-icon>
                </span>
        </div>
</div>

<div class="flex-container margin-bottom-1" 
*ngIf="!isShippingAddressValid">
        <div class="flex-item flex-4">
                <div class="subtitle">Silahkan menambahkan alamat pengiriman terlebih dahulu</div>
        </div>
</div>
