<div class="flex-container align-center" *ngIf="customer != null">
    <div class="flex-item flex-05 text-left">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" *ngIf="customer.photo == null" class="avatar-image" height="50" width="50" alt="">
        <img [src]="customer.photo" *ngIf="customer.photo != null" height="50" width="50" alt="">
    </div>
    <div class="flex-item flex-2">
        <div class="title">
            Login as {{customer.firstname}} {{customer.lastname}}
        </div>
        <div class="subtitle">
            {{cart == null ? '...' : cart.length}} item(s) in Cart
        </div>
    </div>
</div>