<div class="list-tile padding-center white-bg margin-bottom-1 elevate">

    <div class="flex-container align-center margin-bottom-05" *ngIf="!isPromoApplied">
        <div class="flex-item flex-2">
            <div class="title" (click)="openSelectPromo()">
                <fa-icon [icon]="icon_tag"></fa-icon> <span class="primary-color"> You have {{promos == null ? '...' : promos.length}} promo code!</span>

            </div>
        </div>
        <div class="flex-item flex-1 text-right" (click)="openSelectPromo()">
            <div class="icon primary-color">
                Add Promo
            </div>
        </div>
    </div>

    <div class="flex-container align-center margin-bottom-05" *ngIf="isPromoApplied">
        <div class="flex-item flex-2">
            <div class="title">
                <fa-icon [icon]="icon_tag"></fa-icon> <span class="primary-color"> Promo Applied!</span>
            </div>
        </div>
        <div class="flex-item flex-1 text-right" (click)="openSelectPromo()">
            <div class="icon primary-color">
                Change
            </div>
        </div>
    </div>
</div>