<div class="list-item">
    <div class="flex-container fullheight align-center align-items-center">
        <div class="flex-item flex-4 text-center" *ngIf="isValid">
            Please wait, midtrans window is opening...
        </div>
        <div class="flex-item flex-4 text-center" *ngIf="!isValid">
            Invalid payment reference specified. <br>
            Please select an order from the order history to open this page
        </div>
    </div>
</div>
