<div class="card-goods-order-summary">
    <div class="cart-container margin-bottom-05">
        <div *ngFor="let item of cart" class="flex-container border-bottom margin-bottom-05">
            <div class="flex-item flex-1 text-left">
                <img [src]="item.small_image">
            </div>
            <div class="flex-item flex-05"></div>
            <div class="flex-item flex-3">
                <div class="title">
                    {{item.name}}
                </div>
                <div class="subtitle">
                    {{item.price | currency:'IDR':'Rp'}} x {{item.quantity}}
                </div>
            </div>
        </div>
    </div>
    <div class="summary-container margin-bottom-1">

        <div class="flex-container border-bottom margin-bottom-05">
            <div class="flex-item flex-2">
                Subtotal
            </div>
            <div class="flex-item flex-1 text-right">
                {{ calc.subtotal | currency:'IDR':'Rp'}}
            </div>
        </div>

        <div class="flex-container border-bottom margin-bottom-05">
            <div class="flex-item flex-2">
                Shipping
            </div>
            <div class="flex-item flex-1 text-right">
                {{calc.shipping | currency:'IDR':'Rp'}}
            </div>
        </div>

        <div class="flex-container border-bottom margin-bottom-05">
            <div class="flex-item flex-2">
                Promo
            </div>
            <div class="flex-item flex-1 text-right">
                -{{calc.promo | currency:'IDR':'Rp'}}
            </div>
        </div>

        <app-promo-desktop
        [quote]="quote"
        ></app-promo-desktop
            >


        <div class="flex-container">
            <div class="flex-item flex-2 total">
                Total
            </div>
            <div class="flex-item flex-1 text-right total">
                {{calc.total | currency:'IDR':'Rp'}}
            </div>
        </div>

    </div>
</div>