<app-mobile-header *ngIf="core.isMobile"
[leadingIcon]="'arrowLeft'" [leading]="'Home'" [title]="'Business Solution'"
[trailing]="'Help'" (interaction)="interact($event)">

</app-mobile-header>
<nav class="global-navigation show-for-medium">
    <div class="flex-container align-center justify-end">
        <div class="flex-item margin-right-05">
            <img height="50" width="50" title="wearinasia" src="https://wia.id/media/wysiwyg/logo/wia-logo.svg" alt="">
        </div>
        <div class="flex-item flex-4">
            <ul class="menu">
                <li class="bold huge-text">
                    Business Solution
                </li>
            </ul>
        </div>
        <div class="flex-item flex-2 text-right">
            <ul class="menu">
                <li><a class="hidden" href="#">Our Brand</a></li>
                <li><a [routerLink]="['/','business','inquiry']">Request Inquiry</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="card-global-four"  *ngIf="core.isMobile">
    <img class=""
    width="500" height="400"
    src="https://wia.id/media/catalog/product/cache/cat_resize_icon/800x1000/Editor_s_Pick-Acome.JPEG">
    <div class="content-container">
        <div class="bottom">
                <div class="label">
                        <h5>Business Solution</h5>
                    </div>
                    <div class="title">
                         <h1>Temukan berbagai brand & produk untuk kebutuhan bisnis Anda</h1>
                    </div>
                    <div class="margin-top-2">
                        <a class="hidden button secondary white margin-right-05 hollow">Our Brand</a>
                        <a [routerLink]="['/','business','inquiry']" class="button primary">Request Inquiry</a>
                    </div>
        </div>
    </div>
</div>

<section id="banner-hero" class="hero-banner" *ngIf="core.isDesktop || core.isTablet">
    <div class="hero-banner-container white">
        <div class="hero-banner-image"><img width="1980" height="900" class=""
                src="https://wia.id/media/catalog/product/cache/cat_resize_icon/990x400/banner-chpo.jpg"
                data-srcset="https://wia.id/media/catalog/product/cache/cat_resize_icon/1980x800/banner-chpo.jpg 2x, https://wia.id/media/catalog/product/cache/cat_resize_icon/990x400/banner-chpo.jpg 1x"
                data-src="https://wia.id/media/catalog/product/cache/cat_resize_icon/990x400/banner-chpo.jpg"
                alt="https://wia.id/media/catalog/product/cache/cat_resize_icon/990x400/banner-chpo.jpg"
                srcset="https://wia.id/media/catalog/product/cache/cat_resize_icon/1980x800/banner-chpo.jpg 2x, https://wia.id/media/catalog/product/cache/cat_resize_icon/990x400/banner-chpo.jpg 1x">
        </div>
        <div class="hero-banner-content">

            <h5>Business Solution</h5>
            <h1>Temukan berbagai brand & produk untuk kebutuhan bisnis Anda</h1>
            <div class="margin-top-2">
                <a class="hidden button secondary white margin-right-05 hollow">Our Brand</a>
                <a [routerLink]="['/','business','inquiry']" class="button primary">Request Inquiry</a>
            </div>
        </div>
    </div>
</section>

<footer id="main-footer" class="footer">
    <div class="row">
        <div class="medium-7 column">
            <div class="row medium-up-3">
                <div class="columns">
                    
                    <span style="font-size:12px"><i class="fa fa-phone" aria-hidden="true"></i> Call Center</span>
                    <h3>O21 - 2222 7825</h3>
                </div>
               
                <div class="columns">
                    <h5>Business Solution</h5>
                    <ul class="menu vertical">
                        <li><a href="https://wia.id/help/shipping-information/">Request Inquiry</a></li>
                        <li><a href="https://wia.id/help/return-exchange/">Our Brand</a></li>
                        <li><a href="https://wia.id/contact/">Hubungi Kami</a></li>
                    </ul>
                </div>
                <div class="columns">
                        <h5>Wearinasia</h5>
                        <ul class="menu vertical no-bullet">
                            <li><a href="https://wia.id/goods/">Goods</a></li>
                            <li><a href="https://wia.id/experience/">Experience</a></li>
                            <li><a href="https://wia.id/story/">Journal</a></li>
                            <li><a href="https://wia.id/sercure/business">Business Solution</a></li>
                        </ul>
                    </div>
            </div>
        </div>
        <div class="medium-5 column">
            
            
            <h5>Office &amp; Experience Store</h5>
            <p class="small-text margin-bottom-1" style="line-height:1.5">Dalton Utara no. 50, Scientia Square. Gading
                Serpong. Tangerang<br> Operational Hours : 9am - 7pm Weekdays | 9am - 1pm Weekend<br><a target="_blank"
                    href="https://www.google.co.id/maps/place/Wearinasia.com's+Experience+Store/@-6.2586554,106.5445374,12z/data=!4m18!1m12!4m11!1m3!2m2!1d106.6144036!2d-6.2589966!1m6!1m2!1s0x2e69fc648ad8aae5:0x8b99198f2ae80cb0!2swearinasia+experience+store!2m2!1d106.614578!2d-6.25866!3m4!1s0x2e69fc648ad8aae5:0x8b99198f2ae80cb0!8m2!3d-6.25866!4d106.614578?shorturl=1">View
                    Map</a></p>
        </div>
        <div class="medium-12 columns">
            <div class="padding-top-1 border-top">
                <div class="row">
                    <div class="medium-4 columns">
                        <ul class="menu align-left">
                            <li><a href="#"> © 2019 Wearinasia - Indonesia</a></li>
                        </ul>
                    </div>
                    <div class="medium-4 columns">
                        <ul class="menu align-center">
                            <li><a href="http://www.facebook.com/wearinasia" target="_blank" rel="nofollow"><i
                                        class="fa fa-lg fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="http://www.instagram.com/wearinasiaofficial" target="_blank" rel="nofollow"><i
                                        class="fa fa-lg fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="http://google.com/+Wearinasiawearable" target="_blank" rel="nofollow"><i
                                        class="fa fa-lg fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCN3pn3nlO89BGOqzUHm39EQ" target="_blank"
                                    rel="nofollow"><i class="fa fa-lg fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="medium-4 columns">
                        <ul class="menu align-right">
                            <li><a href="/term-conditions">Term and Conditions</a></li>
                            <li><a href="/privacy">Privacy</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>