<app-mobile-header [title]="'Shipping Method'" [trailing]="'Close'" (interaction)="interact($event)">
</app-mobile-header>

<div class="medium-grey-bg fullheight">
    <div class="group-list callout padding-center white-bg">
        <mat-radio-group [(ngModel)]="data.selected.code" *ngIf="data != null; else notReady">

            <mat-radio-button class="list-tile white-bg" *ngFor="let item of data.available; let i=index"
                (click)="useThisShippingMethod(i)" [value]="item.code">

                <div class="flex-container align-center">
                    <div class="flex-item flex-2">
                        <div class="title">
                            {{item.method_title}}
                        </div>
                        <div class="subtitle">
                            {{item.method_description}}
                        </div>
                    </div>
                    <div class="flex-item flex-1 text-right">
                        <div class="title">
                            {{item.price | currency:'IDR':'Rp'}}
                        </div>
                    </div>
                </div>

            </mat-radio-button>
        </mat-radio-group>

        <ng-template #notReady>
            <p>Loading...</p>
        </ng-template>

    </div>
</div>
