<app-mobile-header
[title]="'Order Summary'"
[trailing]="'Close'"
(interaction)="interact($event)"
></app-mobile-header>

<div class="fullheight medium-grey-bg">

    <div class="group-list white-bg">
        <div *ngFor="let item of cart" class="list-tile padding-center border-bottom">
            <div class="flex-container align-center">
                <div class="flex-item flex-1">
                    <img [src]="item.small_image">
                </div>
                <div class="flex-item flex-05"></div>
                <div class="flex-item flex-3 padding-left-1">
                    <div class="title">{{item.name}}</div>
                    <div class="subtitle">{{item.price | currency:'IDR':'Rp'}} x {{item.quantity}}</div>
                </div>
            </div>
        </div>
        
        <div class="list-tile padding-center">
            <div class="flex-container">
                <div class="subtitle flex-item flex-3">Sub total</div>
                <div class="subtitle flex-item flex-3 text-right">{{calc.subtotal | currency:'IDR':'Rp'}}</div>
            </div>
            <div class="flex-container">
                <div class="subtitle flex-item flex-3">Shipping</div>
                <div class="subtitle flex-item flex-3 text-right">{{calc.shipping | currency:'IDR':'Rp'}}</div>
            </div>
            <div class="flex-container border-bottom padding-bottom-1">
                <div class="subtitle flex-item flex-3">Promo</div>
                <div class="subtitle flex-item flex-3 text-right">-{{calc.promo | currency:'IDR':'Rp'}}</div>
            </div>
            <div class="flex-container padding-center ">
                <div class="flex-item flex-3"> Total</div>
                <div class="flex-item flex-3 text-right"><b>{{calc.total | currency:'IDR':'Rp'}}</b></div>
            </div>
        </div>
    </div>

</div>