<div class="callout white-bg padding-center">
    <div class="label-text small">
        <div class="title">
            Order Summary
        </div>
    </div>

    <div class="card-goods-order-summary">

        <div class="summary-container margin-bottom-1">
            <div class="flex-container border-bottom margin-bottom-05">
                <div class="flex-item flex-2">
                    Subtotal
                </div>
                <div class="flex-item flex-1 text-right">
                    {{subtotal | currency:'IDR':'Rp'}}
                </div>
            </div>
            <div class="flex-container border-bottom margin-bottom-05">
                <div class="flex-item flex-2">
                    Shipping
                </div>
                <div class="flex-item flex-1 text-right">
                    {{shipping | currency:'IDR':'Rp'}}
                </div>
            </div>
            <div class="flex-container border-bottom margin-bottom-1">
                <div class="flex-item flex-2">
                    Promo
                </div>
                <div class="flex-item flex-1 text-right">
                    {{promo | currency:'IDR':'Rp'}}
                </div>
            </div>


            <div class="flex-container">
                <div class="flex-item flex-2 total">
                    Total
                </div>
                <div class="flex-item flex-1 text-right total">
                    {{grandtotal | currency:'IDR':'Rp'}}
                </div>
            </div>


        </div>

        <a href="https://wia.id/checkout/onepage" *ngIf="checkoutOk" class="button expanded rounded primary">
            Lanjut ke Checkout
        </a>
        <a *ngIf="!checkoutOk" disabled class="button expanded rounded primary">
            Lanjut ke Checkout
        </a>
    </div>


</div>
<div class="light-grey-bg">
    <div class="label-text padding-center small">
        <div class="flex-container horizontal ">
            <div class="flex-item">
                <div class="title">
                    We Accept
                </div>

            </div>


        </div>
        <div class="flex-container horizontal ">
            <div class="flex-item flex-1 text-center">
                <div class="partner-logo">
                    <img height="35" width="58" src="https://wia.id/media/logo/visa-01.svg" alt="">


                </div>

            </div>
            <div class="flex-item flex-1 text-center">
                <div class="partner-logo">
                    <img height="35" width="58" src="https://wia.id/media/logo/mastercard-01.svg" alt="">


                </div>

            </div>
            <div class="flex-item flex-1 text-center">
                <div class="partner-logo">
                    <img height="35" width="58" src="https://wia.id/media/logo/jcb-01.svg" alt="">


                </div>

            </div>
            <div class="flex-item flex-1 text-center">
                <div class="partner-logo">
                    <img height="35" width="58" src="https://wia.id/media/logo/alto-01.svg" alt="">
                </div>

            </div>
            <div class="flex-item flex-1 text-center">
                <div class="partner-logo">
                    <img height="35" width="58" src="https://wia.id/media/logo/bersama-2-01.svg" alt="">


                </div>

            </div>



        </div>
    </div>


</div>
