<div class="list-item">
    <div class="flex-container">
        <span class="flex-item flex-3 title margin-right-2">
            <div class="title">
                    Send as gift?
            </div>
            
        </span>
        <mat-slide-toggle (change)="toggleSendAsGift()" class="flex-item flex-1" [(ngModel)]="sendAsGift"></mat-slide-toggle>
    </div>

    <div class="flex-container padding-center" *ngIf="sendAsGift">
        <form [formGroup]="giftForm" class="flex-item flex-4">
            <mat-form-field>
                <mat-label>Nama Penerima</mat-label>
                <input matInput formControlName="recipient" placeholder="e.g. John Doe"/>
                <mat-error *ngIf="giftForm.get('recipient').invalid">This field is required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Pesan</mat-label>
                <textarea matInput
                class="flex-item"
                formControlName="message">
                </textarea>
                <mat-error *ngIf="giftForm.get('message').invalid">This field is required</mat-error>
            </mat-form-field>

        </form>
    </div>
</div>