@import '../../onepage.component.scss';

.card-select-shipping-address{
    min-width: 70vw;
    min-height: 80vh;
}

.outline{
    padding: 8px;
    margin: 4px;
    font-size: 9pt;
    border: $outline-gray 1px solid;
    border-radius: 4px;
}

.gray{
    color: $outline-gray;
}