<app-mobile-header [title]="'Select Address'" [trailing]="'Close'" (interaction)="interact($event)"></app-mobile-header>

<div class="medium-grey-bg fullheight">
    <div class="group-list callout padding-center white-bg" *ngIf="addresses != null; else notReady">
        <div *ngFor="let item of addresses; let i=index" class="list-tile white-bg border-bottom">
            <div class="flex-container">
                <div class="flex-item flex-3">
                    <div class="title">
                        {{item.firstname+' '+item.lastname}}
                    </div>
                    <div class="subtitle margin-bottom-05">
                        {{item.location}}<br>
                        {{item.street}}<br>
                        {{item.city+', '+item.region+' '+item.postcode}}<br>
                        {{item.telephone}}
                    </div>

                    <span class="primary-color bold small-text uppercase" (click)="editThisAddress(i)">EDIT Address</span>
                </div>
                <div class="flex-item flex-1 text-right">
                    <button class="button rounded tiny secondary" *ngIf="selectedAddressIndex != i"
                        (click)="useThisAddress(i)">Select</button>
                    <button class="button rounded tiny alert-primary"
                        *ngIf="selectedAddressIndex == i">Selected</button>
                </div>
            </div>

        </div>

    </div>

    <ng-template #notReady>
        <p class="list-tile padding-center white-bg margin-bottom-05">Loading...</p>
    </ng-template>

</div>
