<div *ngIf="!isLoading; else loading" class="flex-container">

    <div class="flex-item" *ngIf="hasAddress">
        <div class="margin-bottom-2" *ngIf="selectedAddress.id != null"> 
            <div class="title" *ngIf="selectedAddress.location != null">
                {{selectedAddress.location}}
            </div>

            <div class="title" *ngIf="selectedAddress.location == null">
                {{selectedAddress.firstname}} {{selectedAddress.lastname}}
            </div>

            <div class="subtitle">
                {{selectedAddress.street}}<br>{{selectedAddress.city+', '+selectedAddress.region}}<br>{{selectedAddress.telephone}}
            </div>
        </div>
        
        <div class="margin-bottom-2" *ngIf="selectedAddress.id == null">
            <div class="title">
                    No address selected
            </div>
            <div class="subtitle">
               Silahkan pilih alamat pengiriman
            </div>
        </div>

        <div class="flex-item">
            <span class="button tiny secondary rounded" (click)="openSelectShippingAddress()">Change Address</span>
            <span class="margin-right-05"></span>
            <span class="button tiny secondary rounded" (click)="openAddNewAddress()">Add New Address</span>
        </div>
    </div>

    <div class="flex-item" *ngIf="!hasAddress">
        <div class="margin-bottom-2">
            <div class="title">
               No address found
            </div>
            <div class="subtitle">
                   Anda belum mempunyai alamat, silahkan menambahkan alamat.
                </div>
        </div>

        <div class="flex-item">
            <span class="button tiny secondary rounded" (click)="openAddNewAddress()">Add New Address</span>
        </div>
    </div>

</div>
<ng-template #loading>
    <p> Loading....</p>
</ng-template>