<app-mobile-header
[title]="'Select Pinpoint'"
[leading]="'Back'"
[trailing]="''"
[leadingIcon]="'arrowLeft'"
(interaction)="interact($event)">
</app-mobile-header>

<div class="list-tile medium-grey-bg padding-center">
  <div class="flex-container">
      <textarea matInput
      class="flex-item hidden"
      [(ngModel)]="place"
      [ngModelOptions]="{standalone: true}" readonly>
      </textarea>
  </div>
  <br>
  <agm-map class="agm-map" [latitude]="mapLatitude" [longitude]="mapLongitude" [zoom]="zoom">
    <agm-marker
    (dragEnd)="markerDragEnd($event)"
    [latitude]="selectedLatitude"
    [longitude]="selectedLongitude"
    [markerDraggable]="true"></agm-marker>
  </agm-map>
  <br>
  <!--<button class="button primary expanded" (click)="setCurrentLocation()">My current location</button>-->
  <button class="button primary expanded" *ngIf="isValid" (click)="confirmPinpoint()">Add Pinpoint</button>
  <button class="button secondary expanded" disabled *ngIf="!isValid" (click)="confirmPinpoint()">Please wait...</button>

</div>