<app-mobile-header *ngIf="core.isMobile"
[leadingIcon]="'arrowLeft'" [leading]="'Back'" [title]="'Business Solution'"
[trailing]="'Help'" (interaction)="interact($event)"></app-mobile-header>

<nav class="global-navigation show-for-medium">
    <div class="flex-container align-center justify-end">
        <div class="flex-item margin-right-05">
            <img height="50" width="50" title="wearinasia" src="https://wia.id/media/wysiwyg/logo/wia-logo.svg" alt="">
        </div>
        <div class="flex-item flex-4">
            <ul class="menu">
                <li class="bold huge-text">
                    Business Solution
                </li>
            </ul>
        </div>
        <div class="flex-item flex-2 text-right">
            <ul class="menu">
                <li><a href="#" class='hidden'>Our Brand</a></li>
                <li><a [routerLink]="['/','business','inquiry']">Request Inquiry</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="padding-center light-grey-bg">
    <div class="row">
        <div class="column medium-12">
            <form [formGroup]="inquryForm" class="form-container">

                <mat-form-field>
                    <mat-label>Nama Lengkap</mat-label>
                    <input matInput formControlName="name" placeholder="e.g. James Robert"/>
                    <mat-error>This field is required</mat-error>
                </mat-form-field>
            
                <mat-form-field>
                    <mat-label>Nama Perusahaan</mat-label>
                    <input matInput formControlName="companyName" placeholder="e.g. Wearinasia"/>
                    <mat-error>This field is required</mat-error>
                </mat-form-field>
            
                <mat-form-field>
                    <mat-label>Alamat Perusahaan</mat-label>
                    <textarea matInput rows=3 formControlName="companyAddress" placeholder="e.g. Ruko Dalton Utara No. 50, Jalan Scientia Square Utara"></textarea>
                    <mat-error>This field is required</mat-error>
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>Email Perusahaan</mat-label>
                    <input matInput formControlName="companyEmail" placeholder="e.g. cs@wearinasia.com"/>
                    <mat-error *ngIf="this.inquryForm.get('companyEmail').hasError('required')">This field is required</mat-error>
                    <mat-error *ngIf="this.inquryForm.get('companyEmail').hasError('email')">Email is not valid</mat-error>
                </mat-form-field>
            
                <mat-form-field>
                    <mat-label>No. Handphone</mat-label>
                    <input matInput formControlName="handphone" placeholder="e.g. 021-22227825"/>
                    <mat-error>This field is required</mat-error>
                </mat-form-field>
                    
                <mat-form-field>
                    <mat-label>Nama Brand / Produk</mat-label>
                    <textarea rows=8 matInput formControlName="product" placeholder="e.g. DJI Mavic"></textarea>
                    <mat-error>This field is required</mat-error>
                </mat-form-field>    
                
                <mat-form-field>
                    <input matInput formControlName="dueDate" readonly [min]="minDate" [max]="maxDate" [matDatepicker]="picker" 
                    placeholder="Due Date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <button *ngIf="!isSending" (click)="onSubmit()" class="expanded">Submit</button>
                <button *ngIf="isSending" disabled class="expanded">Please wait...</button>
            </form>
        </div>
    </div>
</div>

<footer id="main-footer" class="footer">
    <div class="row">
        <div class="medium-7 column">
            <div class="row medium-up-3">
                <div class="columns">
                    
                    <span style="font-size:12px"><i class="fa fa-phone" aria-hidden="true"></i> Call Center</span>
                    <h3>O21 - 2222 7825</h3>
                </div>
               
                <div class="columns">
                    <h5>Business Solution</h5>
                    <ul class="menu vertical">
                        <li><a href="https://wia.id/help/shipping-information/">Request Inquiry</a></li>
                        <li><a href="https://wia.id/help/return-exchange/">Our Brand</a></li>
                        <li><a href="https://wia.id/contact/">Hubungi Kami</a></li>
                    </ul>
                </div>
                <div class="columns">
                        <h5>Wearinasia</h5>
                        <ul class="menu vertical no-bullet">
                            <li><a href="https://wia.id/goods/">Goods</a></li>
                            <li><a href="https://wia.id/experience/">Experience</a></li>
                            <li><a href="https://wia.id/story/">Journal</a></li>
                            <li><a href="https://wia.id/sercure/business">Business Solution</a></li>
                        </ul>
                    </div>
            </div>
        </div>
        <div class="medium-5 column">
            
            
            <h5>Office &amp; Experience Store</h5>
            <p class="small-text margin-bottom-1" style="line-height:1.5">Dalton Utara no. 50, Scientia Square. Gading
                Serpong. Tangerang<br> Operational Hours : 9am - 7pm Weekdays | 9am - 1pm Weekend<br><a target="_blank"
                    href="https://www.google.co.id/maps/place/Wearinasia.com's+Experience+Store/@-6.2586554,106.5445374,12z/data=!4m18!1m12!4m11!1m3!2m2!1d106.6144036!2d-6.2589966!1m6!1m2!1s0x2e69fc648ad8aae5:0x8b99198f2ae80cb0!2swearinasia+experience+store!2m2!1d106.614578!2d-6.25866!3m4!1s0x2e69fc648ad8aae5:0x8b99198f2ae80cb0!8m2!3d-6.25866!4d106.614578?shorturl=1">View
                    Map</a></p>
        </div>
        <div class="medium-12 columns">
            <div class="padding-top-1 border-top">
                <div class="row">
                    <div class="medium-4 columns">
                        <ul class="menu align-left">
                            <li><a href="#"> © 2019 Wearinasia - Indonesia</a></li>
                        </ul>
                    </div>
                    <div class="medium-4 columns">
                        <ul class="menu align-center">
                            <li><a href="http://www.facebook.com/wearinasia" target="_blank" rel="nofollow"><i
                                        class="fa fa-lg fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="http://www.instagram.com/wearinasiaofficial" target="_blank" rel="nofollow"><i
                                        class="fa fa-lg fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="http://google.com/+Wearinasiawearable" target="_blank" rel="nofollow"><i
                                        class="fa fa-lg fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCN3pn3nlO89BGOqzUHm39EQ" target="_blank"
                                    rel="nofollow"><i class="fa fa-lg fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="medium-4 columns">
                        <ul class="menu align-right">
                            <li><a href="/term-conditions">Term and Conditions</a></li>
                            <li><a href="/privacy">Privacy</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>