<!-- <div *ngFor="let item of [].constructor(5)">
    <p>Item</p>
</div> -->

<div class="callout white-bg padding-center margin-bottom-1">
    <div class="label-text small padding-bottom-1">
        <div class="title">
            Item(s) in Cart
        </div>
    </div>

    <div class="flex-container padding-center border-top" *ngFor='let item of items; let i = index'>
        <div class="flex-item flex-1 margin-right-05 text-center">
            <img height="75" width="75" [src]="item.small_image" alt="">

        </div>
        <div class="flex-item flex-3">
            <div class="title">
                {{item.name}}
            </div>
            <div class="subtitle">
                Qty : {{item.quantity}}
            </div>
            <div class="subtitle">
                {{item.price | currency:'IDR':'Rp'}}
            </div>

            <ng-template [ngIf]="item.product_quantity <= 0" [ngIfElse]="notEnoughStock">
                <div class="toast-info subtitle margin-top-1">
                    This item is no longer available, please remove this from your cart to continue
                </div>
            </ng-template>
            <ng-template #notEnoughStock>
                <div class="toast_info subtitle margin-top-1" *ngIf="item.quantity > item.product_quantity">
                    Not enough stock available, please adjust your quantity for this item
                </div>
            </ng-template>
            
        </div>
        
        <div class="flex-item flex-1 small-text text-right">
            <Span class="primary-color" (click)="edit(i)">Edit</Span>
        </div>

    </div>

</div>

<div class="callout white-bg padding-center margin-bottom-05">
    <div class="flex-container horizontal justify-space-between">
        <div class="flex-item flex-05 margin-right-05">
            <div class="title">
                <img height="75" widdth="75" src="https://wia.id/media/icon%20delivery-01.svg" alt="">
            </div>
        </div>
        <div class="flex-item flex-3">
            <div class="title">
                Freeshipping All Indonesia
            </div>
            <div class="subtitle small-text">
                Gratis ongkos kirim ke seluruh Indonesia untuk min. total pembelian senilai Rp 1.000.000,00.
            </div>
        </div>
    </div>

</div>


<div class="callout white-bg padding-center margin-bottom-05">
    <div class="flex-container horizontal justify-space-between">
            <div class="flex-item flex-05 margin-right-05">
            <div class="title">
                <img height="75" widdth="75" src="https://wia.id/media/icon%20packing-02.svg" alt="">
            </div>
        </div>
        <div class="flex-item flex-3">
            <div class="title">
                100% Return Warranty
            </div>
            <div class="subtitle">
                Jaminan penukaran kembali jika barang yang diterima tidak sesuai, cacat produksi, tidak original atau
                salah ukuran.
            </div>
        </div>
    </div>

</div>



<div id="edit" [ngClass]="{
    'slideup-container':true,
    'half': this.core.isMobile,
    'tiny': this.core.isTablet || this.core.isDesktop,
    'show':true}" *ngIf="selectedItem != null">

    <div class="slideup-content padding-top-1">
        <button (click)="close()" class="close-button" type="button"><span aria-hidden="true">×</span></button>
        <div class="callout padding-center">
            <div class="title padding-center margin-bottom-1 border-bottom">{{selectedItem.name}}</div>
            <div class="flex-container align-center margin-bottom-05">
                <!-- <div class="flex-item flex-2">
                    <div class="title">{{selectedItem.name}}</div>
                    <div class="subtitle">{{selectedItem.quantity}}</div>
                </div> -->
                <div class="flex-item flex-1 text-left">
                    <span class="button tiny hollow secondary" (click)="subtract()">-</span>


                </div>

                <div class="flex-item flex-1 text-center">
                    <span class="title">{{selectedQty}}</span>

                </div>

                <div class="flex-item flex-1 text-right">
                    <span class="button tiny hollow secondary" (click)="add()">+</span>

                </div>

            </div>

            <div *ngIf="!isProcessing">
                <button class="button expanded rounded primary"
                    *ngIf="selectedQty> 0 && selectedQty != selectedItem.quantity"
                    (click)="finishEdit()">Confirm</button>
                <button class="button expanded rounded primary" *ngIf="selectedQty == selectedItem.quantity"
                    (click)="close()">Confirm</button>
                <button class="button expanded rounded primary" *ngIf="selectedQty == 0"
                    (click)="remove()">Remove</button>
            </div>
            <div *ngIf="isProcessing">
                <button class="button expanded rounded primary" disabled>Please wait....</button>
            </div>

            <div class="flex-container">
                <div class="flex-item flex-4 text-center">
                    <div class="subtitle">
                        Maximum stock available : {{selectedItem.product_quantity}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>