<div class="callout padding-center light-grey-bg rounded margin-top-1 margin-bottom-1 border" (click)="openSelectPromo()">
    <div class="flex-container align-start" *ngIf="isPromoApplied">
        <div class="flex-item flex-2">
            Promo Applied!
        </div>
        <div class="flex-item flex-1 text-right">
            <span class="button tiny rounded">Change Promo</span>
        </div>
    </div>
    <div class="flex-container align-start" *ngIf="!isPromoApplied">
        <div class="flex-item flex-2">
            <fa-icon [icon]="icon_tag"></fa-icon> <span class="primary-color"> You have {{promos == null ? '...' : promos.length}} promo code!</span>
            
        </div>
        <div class="flex-item flex-1 text-right">
            <span class="button tiny rounded">Add Promo</span>
        </div>
    </div>
</div>
