/* You can add global styles to this file, and also import other style files */
@import './../src/assets/css/app.css';
@import './../src/assets/css/addition.css';
@import "../src/assets/css/font.css";
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

mat-form-field{
    width: 100%;
}

mat-dialog-container{
  border-radius: 0;
}

.mat-radio-button{
  display: block !important;
  font-family: unset !important;
}

.mat-radio-label-content{
  width: 100% !important;
}

.mat-form-field{
  font-family: unset !important;
}

.mat-slide-toggle-label{
  flex-direction: row-reverse !important;
}

[disabled]{
  opacity: 50% !important;
}

.mat-dialog-mobile{
  mat-dialog-container{
    padding: 0% !important
  }
}

.toast_primary {
  background: #333333!important;
  color: #fff;
}

.toast_info {
  background: #eeeeee !important;
  color: #333333;
}

.toast_warning {
  background: #f57224!important;
  color: #fff;
}

.toast_danger {
  background: #f57224!important;
  color: #fff;

}

.toast_success {
  background: #333333!important;
  color: #fff;
   
}