<app-mobile-header *ngIf="this.core.isMobile" [leadingIcon]="'arrowLeft'" [leading]="'Home'" [title]="'Cart'"
    [trailing]="'Help'" (interaction)="interact($event)"></app-mobile-header>

<div class="promo-bar">Bayar dengan cicilan 0% sampai 12 bulan</div>

<section class="padding-center fullheight medium-grey-bg">

    <div class="row small-collapse medium-uncollapse" *ngIf="isLoading">
        <div class="column small-12  medium-6 medium-centered">
            <div class="callout padding-center white-bg">
                <div class="title">Please wait....</div>
            </div>

        </div>

    </div>
    <div class="row small-collapse medium-uncollapse" *ngIf="!isLoading">
        <div class="column small-12  medium-6 medium-centered" *ngIf="items.length == 0">
            <div class="callout padding-center">
                <h3>Shopping Cart is Empty</h3>
                <p>Tidak ada produk dalam keranjang belanja Anda. Silahkan</p>
                <a href="https://wia.id/" class="button primary rounded expanded">Kembali Berbelanja</a>

            </div>

        </div>

        <div class="medium-12 columns show-for-medium" *ngIf="items.length > 0">
                <div class="label-text large">
                    <div class="flex-container horizontal justify-space-between align-end">
                        <div class="flex-item">
                            <a class="small-text" href="https://wia.id">Back to Home</a>
                            <div class="title">
                                Shopping Cart
                            </div>
    
                        </div>
                        <div class="flex-item small-text">
                            <div class="small-text">Butuh bantuan? Hub O21 - 2222 7825 | <a (click)="openLiveChat()">Live
                                    Chat</a> </div>
                        </div>
    
                    </div>
                </div>
            </div>

        <div class="column medium-7" *ngIf="items.length > 0">
            <app-cart-list [items]="items" (onUpdate)="onUpdate($event)"></app-cart-list>
        </div>
        <div class="column medium-5" *ngIf="items.length > 0">
            <app-cart-summary [subtotal]="subtotal"
            [shipping]="shipping" [promo]="promo"
            [grandtotal]="grandtotal"
            [checkoutOk]="isCheckoutValid">
            </app-cart-summary>
        </div>
    </div>

</section>
