<app-mobile-header
[title]="'Add Address'"
[trailing]="'Close'"
(interaction)="interact($event)"
></app-mobile-header>

<div class="medium-grey-bg fullheight">
    <div class="form-container">
        <form [formGroup]="addFormCtrl" class="flex-item flex-4">
            <mat-form-field>
                <mat-label>Alamat</mat-label>
                <input matInput formControlName="street" placeholder="e.g. Jalan Scientia Square Utara"/>
                <mat-error *ngIf="addFormCtrl.get('street').invalid">This field is required</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Nama Gedung / Apartemen (opsional)</mat-label>
                <input matInput formControlName="location" placeholder="e.g. Ruko Dalton Utara No.50"/>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Kode Pos </mat-label>
                <input matInput formControlName="postcode" placeholder="e.g. 15810"/>
            </mat-form-field>
            <mat-label *ngIf="regions.length == 0">Loading province(s)... </mat-label>
            <mat-form-field *ngIf="regions.length > 0">
                <mat-label>Provinsi </mat-label>
                <mat-select formControlName="region" placeholder="e.g. Banten" [(ngModel)]="selectedRegion" (ngModelChange)="updateCity()">
                    <mat-option *ngFor="let region of regions" [value]="region">
                        {{region.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="addFormCtrl.get('region').invalid">This field is required</mat-error>
            </mat-form-field>

            <mat-label *ngIf="selectedRegion != null && cities.length == 0">Loading cities... </mat-label>
            <mat-form-field *ngIf="cities.length > 0">
                <mat-label>Kota </mat-label>
                <mat-select formControlName="city" placeholder="e.g. Kabupaten Tangerang">
                    <mat-option *ngFor="let city of cities" [value]="city">
                        {{city.display_name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="addFormCtrl.get('city').invalid">This field is required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Phone </mat-label>
                <input matInput formControlName="telephone" placeholder="e.g. 021-2227825"/>
                <mat-error *ngIf="addFormCtrl.get('telephone').invalid">This field is required</mat-error>
            </mat-form-field>

            <div class="callout padding-center rounded border">
                <div class="flex-container">
                    <div class="flex-item flex-2">
                        <div class="subtitle">
                                {{ addFormCtrl.value['lat'] != null &&  addFormCtrl.value['lon'] != null ? 'Pinpoint Selected' : ''}}
                        </div>
                       
                    </div>
                    <div class="flex-item flex-2 text-right">
                        <button class="button tiny secondary rounded" (click)="openPinpointDialog()">Add Pinpoint</button>
                    </div>
                </div>
            </div>
            

            <mat-error *ngIf="addFormCtrl.get('lat').invalid && addFormCtrl.get('lon').invalid">Please add your drop point</mat-error>
            <br>
            <div *ngIf="!isProcessing">
                <button class="button primary expanded" (click)="onSubmit()">Add New Address</button>
            </div>
            <p class="small-text">Untuk pengiriman menggunakan <span class="bold">GoSend ( GoJek )</span>, Anda wajib menambahkan pinpoint pada alamat yang dipilih</p>
            
            <button *ngIf="isProcessing" class="button secondary hollow expanded">Processing...</button>
        </form>
    </div>
</div>
